<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="hijoc-element">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <table>
      <thead>
        <tr>
          <th>valor1</th>
          <th>valor2</th>
          <th>valor3</th>
          <th>valor4</th>
          <th>valor5</th>
          <th>valor6</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>elemento1</td>
          <td>elemento2</td>
          <td>elemento3</td>
          <td>elemento4</td>
          <td>elemento5</td>
          <td>elemento6</td>
        </tr>
        <tr>
          <td>elemento1</td>
          <td>elemento2</td>
          <td>elemento3</td>
          <td>elemento4</td>
          <td>elemento5</td>
          <td>elemento6</td>
        </tr>
        <tr>
          <td>elemento1</td>
          <td>elemento2</td>
          <td>elemento3</td>
          <td>elemento4</td>
          <td>elemento5</td>
          <td>elemento6</td>
        </tr>
        <tr>
          <td>elemento1</td>
          <td>elemento2</td>
          <td>elemento3</td>
          <td>elemento4</td>
          <td>elemento5</td>
          <td>elemento6</td>
        </tr>
      </tbody>
    </table>
  </template>

  <script>
    /**
     * `hijoc-element`
     * Elemento C hijo 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class HijocElement extends Polymer.Element {
      static get is() { return 'hijoc-element'; }
      static get properties() {
        return {
          valores: {
            type: Array,
            value: ()=>{
              return [{
                valor1: 'elemento1',
                valor2: 'elemento2',
                valor3: 'elemento3',
                valor4: 'elemento4',
                valor5: 'elemento5',
                valor6: 'elemento6'
              }]
            }
          }
        };
      }
    }

    window.customElements.define(HijocElement.is, HijocElement);
  </script>
</dom-module>
